@font-face {
   font-family: 'CMGSans-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Tim%20Endersby/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-04-08_104452/fonts/CMGSans-Regular/font.woff');
}
