@font-face {
   font-family: 'CMGSans-Light';
   font-display: swap;
   src: url('CMGSans-Light/font.ttf');
}
@font-face {
   font-family: 'Grayscale Signature';
   font-display: swap;
   src: url('Grayscale Signature/font.ttf');
}
@font-face {
   font-family: 'CMGSans-Regular';
   font-display: swap;
   src: url('CMGSans-Regular/font.ttf');
}
