@font-face {
   font-family: 'Grayscale Signature';
   font-display: swap;
   src: url('file:///C:/Users/Tim%20Endersby/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-04-08_104452/fonts/Grayscale%20Signature/font.woff');
}
